Source: astroberry64-server-hotspot
Section: science
Priority: extra
Maintainer: Astroberry64 Team <astroberry64@speckle.red>
Original-Maintainer: Radek Kaczorek <rkaczorek@gmail.com>
Build-Depends: debhelper (>= 9), cdbs, cmake (>= 2.4.7), cmake
Standards-Version: 3.9.1
Homepage: https://github.com/astroberry64

Package: astroberry64-server-hotspot
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, network-manager, network-manager-gnome
Description: Astroberry64 Server is a ready to use astronomy desktop system for Raspberry Pi
 This is package provides wireless hotspot functionality for Astroberry64 Server
